<html>
<head>
<style>
body{
background-color: yellow ;
 }
h1{
font-sze: 45px;
color: blue ;}
h2{
font-sze: 40px;
color: red ;}
</style>
</head>
<body>
<h1>Hi Friends </h1>
<h2>I am Sahil Tiwari</h2>
</body>
</html>